body {
  background-color: rgb(238,247,239);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(74,74,74);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  background-color: rgb(74,74,74);
  color: white;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin: 10px;
}

h1 {
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(227,114,99);
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

button {
  font-size: 20px;
  height: 60px;
  width: 110px;
  color: rgb(238,247,239);
  background-color: rgb(227,114,99);
  border: none;
  border-radius: 40px;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(235, 117, 101);
  cursor: pointer;
  transform: scale(1.1);
}

input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(74,74,74);
  background-color: rgb(255,255,255);
  border: 1px solid rgb(74,74,74);
  font-size: 20px;
}

img {
  height: 100px;
  width: auto;
  margin: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 5px solid rgb(60,176,155);
  border-radius: 15px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.calculator > div {
  margin: 20px;
}

.input-fields > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.amount-input {
  position: relative;
}

.amount-input p {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.rate-input {
  position: relative;
}

.rate-input p {
  position: absolute;
  bottom: 10px;
  right: 45px;
}

.loan-term > div {
  margin-bottom: 10px;
}

.input-error {
  color: rgb(221,83,64);
  font-size: 15;
}

.output-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.monthly-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80px;
  margin-bottom: 15px;
}

.monthly-output-amount {
  display: flex;
  align-items: center;
  background-color: rgb(60,176,155);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  height: 100px;
  width: auto;
}

.interest-output {
  margin-bottom: 15px;
}

.output-totals * h3 {
  margin-bottom: 5px;
}